#buster{
    background-image:url("Photos/Buster.png");
}

#sagan{
    background-image:url("Photos/Sagan.png");
}

#elliot{
    background-image: url("Photos/Elliot.jpeg");
}

#henry{
    background-image: url("Photos/Henry.png");
}

#adrian{
    background-image: url("Photos/Adrian.png");
}

#ulysses{
    background-image: url("Photos/Ulysses.jpg");
}

#zion{
    background-image: url("Photos/Zion.png");
}

#maxwell{
    background-image: url("Photos/Maxwell.jpeg");
}

#george{
    background-image: url("Photos/George.webp");
}

#dagi{
    background-image: url("Photos/Dagi.jpg");
}

#kingsley{
    background-image: url("Photos/Kingsley.jpg");
}

#maktan{
    background-image: url("Photos/Maktan.png");
}

#reed{
    background-image: url("Photos/Reed.png");
}

#diego{
    background-image: url("Photos/Diego.jpg");
}

#isaac{
    background-image: url("Photos/Isaac.png");
}

#jerron{
    background-image: url("Photos/Jerron.jpeg");
}

#rowan{
    background-image: url("Photos/Rowan.png");
}