*{
  box-sizing:border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Raleway:wght@500&display=swap');


@font-face{
  font-family:Overload;
  src:url("overload burn.otf");
}

@font-face{
  font-family:Kane;
  src:url("Kane-Igarw.ttf");
}

html, body {
  height: 100%;
  width: 100%;
}

body{
  background-color: #ffffff;
  color:black;
  font-family: 'Gloria Hallelujah', cursive;
}


html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}


body{
  background-color: white;
/*   font-family:"Courier Prime"; */
  color: black;
}

.navbar {
  background-color: black;
  color: white;
  overflow: hidden;
  padding: 5px;
  width:100%;
  top:0;
  
  height:8vh;
}

#left-nav{
  width:10%;
  display:inline-block;
  text-align: center;
  padding: 0px 20px;
  height:100%;
  z-index:10;
}

#left-nav a {
  z-index:10;
}

#nav-logo{
  height: 100%;
  margin: auto;
  transition: 0.4s;
  transition-timing-function: ease-out;
}

#nav-logo:hover{
  transform: scale(1.1);
}

/* navbar links */
.navbar-links{
  position:absolute;
  top:0;
  right:0;
  display:inline-block;
  height:8vh;
  width:100%;
  text-align: center;
  line-height:8vh;
}

.navbar-links a{
  display:inline-block;
  text-decoration: 0;
  color: #ffffff;
  font-size: 25px;
  transition: 0.4s;
  transition-timing-function: ease-out;
}

/* link change color when mouse hovers over */
.navbar-links a:hover {
  color: white;
  
  transform: scale(1.2);
}
/* END NAV BAR */

.school-img{
  margin:auto;
  height:100%;
}


/* LookBook */
.lookbook{
  padding:5px;
  display:flex;
  flex-wrap:wrap;
  width:100%;
  gap:5px;
}

.box{
  border: 6px  black solid;
  border-radius:12px;
  flex-grow:1;
  padding:5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width:30vw;
  height:45vh;
}

.sm-img{
  background-size:contain;
}

@media only screen and (max-width:900px){

  .lookbook{
    gap:2px;
  }
  .box{
    width:46vw;
    height: 30vh
  }

  .navbar-links a{
    font-size:12px;
  }
  
}

#box1{
    background-image: url("./TCSB/Teagan.jpg");
}
#box2{
    background-image: url("./TCSB/logocircle-black.png");
    background-color:rgba(0,0,0,.2);
}
#box3{
    background-image: url("./TCSB/diemandelliot.jpg");
}
#box4{
    background-image: url("./TCSB/girls.jpg");
}
#box5{
    background-image: url("./TCSB/qr.png");
    background-color:#64C778;
}
#box6{
    background-image: url("./TCSB/Afees.jpg");
}
